*{
    margin: 0 auto;
    padding: 0;
}
body{
    width: 100%;
    height: 1350px;
// background-color: #f6f4ef;
    background-image: url("../image/gerenbj2.jpg");
    background-size: 79%;
//background-repeat: no-repeat;
// transform: scale(0.6);
}
.main{
    width: 90%;
    height: 1300px;
//border: 1px solid red;
    margin: 0 auto;
// background-color: #e5f1f9;
    box-shadow: 0px 0px 20px #a9a59b;

}

a{
    text-decoration: none;
    color: #5c5c5c;
}
a:visited{
    color: #333;
}

a:hover{
    color: #6671ff;
}
/*顶部栏*/
.main .top{
    height: 6%;
// border: 1px solid #6b5eff;
    margin: 0 auto;
    position: relative;
    background-color: white;
}
.main .top .fllogo{
    width: 273px;
    height: 63px;
    float: left;
    margin: 10px;

}
.main .top .fllogo img{
    width: 273px;
    height: 63px;
//margin-right: 0px;
// transform: scale(0.18);
//margin: -150px -730px;
}
.main .top .nav{
    width: 48%;
    height: 50%;
//border: 1px solid red;
    float: right;
    margin: 30px 220px 30px  5px;
    position: relative;
}
.main .top .nav ul{
    list-style: none;
    text-align: center;
    display: flex;//均匀分布

}
.main .top .nav ul li{
    display: inline;
    font-size: 23px;
    font-family: 仿宋;
    font-weight: bold;
    line-height: 52px;
//margin-bottom: 15px;

}
.main .top .nav ul li a{
    text-decoration: none;
}
.main .top .zhuce a{
    position: absolute;
    right: 50px;
    top: 45px;
}


/*内容栏*/
.main .content {
    width: 100%;
    min-height: 950px;

// border: 1px solid red;
}
/*内容栏左*/
.main .content .left{
    width: 50%;
    height: 820px;
    border: 1px solid #e4e4e4;
    float: left;
    margin: 20px 0px 0px 100px;
    background-color: rgba(225,225,225,0.8);
    padding: 20px;
}
.main .content .left p{
    font-size: 23px;
    font-family: 仿宋;
    text-indent: 1em;
}
/*内容栏右*/
.main .content .right{
    width: 25%;
    height: 900px;
// border: 1px solid rebeccapurple;
    float: right;
    margin: 20px 105px 0px 0px;
}

/*用户信息*/
.main .content .right .geren{
    width: 100%;
    height: 222px;
    border: 1px solid #c8c4b9;
//background-color: white;
}
.main .content .right .geren .gerenimg{
    width: 30%;
    height: 98px;
    margin: 10px auto;
//border: 1px solid red;
}
.main .content .right .geren .gerenimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main .content .right .geren .ge2{
    width: 90%;
    height: 27px;
// border: 1px solid red;
    padding: 10px 0px 0px 0px;
}
.main .content .right .geren .ge2 ul{
    list-style: none;
    text-align: center;
    display: flex;//均匀分布
}
.main .content .right .geren .ge2 ul li{
    display: inline;
    font-size: 20px;
    font-family: 仿宋;
    font-weight: bold;
}
.main .content .right .geren .ge3{
    width: 90%;
    height: 27px;
// border: 1px solid red;
    padding: 10px 0px 0px 0px;
}
.main .content .right .geren .ge3 ul{
    list-style: none;
    text-align: center;
    display: flex;//均匀分布
}
.main .content .right .geren .ge3 ul li{
    display: inline;
    font-size: 20px;
    font-family: 仿宋;
    font-weight: bold;
}

.main .content .right .list .lul h1{
    background-color: #fff7d7;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 26px;
    color: #787878;
    text-indent: 30px;
    font-family: 仿宋;
}
.main .content .right .list .lul ul{
    list-style: none;
    text-align: center;
}
.main .content .right .list .lul ul li{
    background-color: #DBDDE6;
    line-height: 45px;
    border-bottom: #ffffff;
    border-bottom-style: solid;//列表底部的白线条
border-width: 1px;
    text-indent: 20px;
}

/*底部栏*/
.botton{
    height: 7%;
    width: 100%;
//border: 1px solid #6b5eff;
    float: right;
    margin-top: 62px;
}
.main .botton p{
    text-align: center;

}

/*表单*/


body{
    color: #444;
    font-size: 15px;
// background-color: #f4f4f4;
}
form{
    width: 630px;
    box-sizing: border-box;
    padding: 20px 15px;
    margin: 40px auto;
// background-color: white;
//border: 1px solid #999;
    border-radius: 10px;

}
.a_form h1{
    color: #48443d;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 仿宋;
    font-weight: bold;
}
.a_form .field{
    margin: 20px 0;
    text-align: center;

}
.a_form .field label{
    display: inline-block;/*可控制宽度*/
    width: 10%;

}
.a_form .field input{
    display: inline-block;
    width: 85%;
    height: 35px;
    font-size: 20px;
    color: #666;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    background-color: rgba(244, 252, 249, 0.5);

}
.a_form .field textarea{
    display: inline-block;
    width: 85%;
    resize: none;
    outline: none;
    min-height: 400px;
    vertical-align: top;

    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 17px;
    color: #666;
    background-color: rgba(244, 252, 249, 0.5);
}
.a_form .field textarea[name = 'summary']{
    min-height: 200px;
}
.a_form .field textarea[name = 'content']{
    min-height: 350px;
}
.a_form .field button{
    background-color: #44ebb9;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    letter-spacing: 5px;
    cursor: pointer;

}
.a_form .field button:hover{
    background-color: #3340ed;
}

